{% extends 'importDB/base_2.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
{% load humanize %}


<div class="container-fluid mx-3 pt-3 pb-3 card pretty_container">
  <div class = "row">
    <div class="col " > 
        <h4 class="subtitle">&nbsp; รายละเอียด Research Funds ในปีงบประมาณ {{year}}</u></h4><br> 
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12 px-3">
        <table id="table_id1" class="display table table-responsive responsive" style="width:100%">
          <!-- class = " table table-responsive bgcolor-table-head table-borderless display responsive nowrap table-hover align-middle mb-0" -->
          <thead>
            <tr bgcolor="#1E4DC2" class = "reservation_fontcolor ">
                <th scope="col" >#</th>
                <th scope="col" style="width:15%;">Faculty Investigator</th>
                <th scope="col" style="width:40%;">Project Title</th>
                <th scope="col" >Funding Agency</th>
                <th scope="col" >Amount</th>
                <th scope="col" >Date</th>
                <!-- <th scope="col" style="width:7%;">Financial Info</th> -->
            </tr>
          </thead>
          <tbody>
            {% for row in data.itertuples %}
              <tr>
                  <TD class ="c3" align="center">{{forloop.counter}}</TD>
                  <TD class ="c3" align="left">{{row.leader_name_surname_th}}</TD>
                  <TD class ="c3" align="left">{{row.project_name_th}}</TD>
                  <TD class ="c3" align="left">{{row.fund_type_th}}</TD>
                  <TD class ="c3" align="left">{{row.sum_budget_plan}}</TD>
                  <TD class ="c3" align="left">{{row.project_start_date}}</TD>
                  <!-- <TD class ="c3" align="center" style="color: blue;" ><b>{{row.marker}}</b></TD> -->
              </tr>  
            {% endfor %} 
          </tbody>
        </table>
      </span>
    </div>
  </div>
</div>




{% endblock content %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.js"></script>

    <script>
      // $(document).ready(function(){
      //   $('#span2').hide();
      // });

      // $('select').on('change', function() {
      //   var value = $(this).val();
        
      //   if (value == "national") {  // ในประเทศ
      //     $('#span1').show();
      //     $('#span2').hide();

      //   } else if (value == "international") {  // ต่างประเทศ
      //     $('#span2').show();
      //     $('#span1').hide();
      //     }
      // });
      $(document).ready(function() {
          $('#table_id1').DataTable({
            dom: 'B<"clear">lfrtip',
            buttons: {
              name:'primary',
              // buttons: ['copy','csv','excel','pdf']
              buttons: ['copy','csv','excel']
            },
            "pageLength": 25
          });
      } );  
      // $('#table_id1').DataTable({
      //     dom: 'B<"clear">lfrtip',
      //     buttons: {
      //         name:'primary',
      //         // buttons: ['copy','csv','excel','pdf']
      //         buttons: ['copy','csv','excel']
      //     },
      //     "order": [[ 1, "asc" ]],
      //     "pageLength": 25
          
      // });

      // $('#table_id2').DataTable({
      //     dom: 'B<"clear">lfrtip',
      //     buttons: {
      //         name:'primary',
      //         // buttons: ['copy','csv','excel','pdf']
      //         buttons: ['copy','csv','excel']
      //     },
      //     "order": [[ 2, "desc" ]],
      //     "pageLength": 25
      // });

    </script>

{% endblock js %}
