{% extends 'importDB/base.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
{% load humanize %}
<style type="text/css"> 
 
    .revenues-buttons {
        color: #e4e4e4 !important;
        font-weight: 600;
        /* font-weight: bold; #111e6c*/ 
        background: #1E4DC2;
        padding: 4px;
        /* border: 1px solid #111e6c !important; */
        display: inline-block;
        transition: all 0.4s ease 0s;
        width: 4.2rem;
        height: 2rem;
        }
    
    .revenues-buttons:hover {
        color: #202020 !important;
        background: #e4e4e4 ;
        border-color: #000000 !important;
        transition: all 0.4s ease 0s;
        }

   div.underline {
        text-decoration-line: underline;
        text-decoration-style: double;
        }
    
    .card_revenue{
        transition: 0.4s;
        }
    .card_revenue:hover {
        transform: scale(1.05, 1.05);
        }

    .btn-circle{
        border-radius: 50%;
        background: #1E4DC2;
        padding: 1px; 
        font-size: 10px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        
        }

    .btn-group .btn-or {
        top: 50%;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 99;
        box-shadow: 0;
        border: 1px solid #fff;
        }

    .btn-or {
        width: 1.3rem;
        height: 1.3rem;
        }



</style>
    <!-- Content Row -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row" >
            <div class="col-xs-12 col-md-12 col-lg-12 "  >
              <div class="pr-3 mb-1" style=" float: right;">
                <b>ข้อมูลจาก ระบบ PRPM</b>
                <span class = "px-2" style="font-size:15px; background-color: coral;  border-radius: 30px; "><b>Last updated: </b> {{date}}</span>
              </div> 
            </div>
        </div>
        
        <div class="row " >
            <div class=" revenues-col1 ml-4 mr-2 ">
                <div class="card pretty_container " style="position: relative;width: 100%;">
                    <div class="row" >
                        <div class = "col " style="width: 100%;">
                            <div class="card-header bgcolor-table-head pt-2 " style="width:100%;" >
                                <div class= "row pt-1 ">
                                    <div class="col-xs-12 col-md-12 col-lg-12 "  >
                                        <form name='filter' method=POST style="display:inline-block;">
                                            {% csrf_token %}
                                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal"> <b>ข้อมูลแหล่งงบประมาณงานวิจัย | ปีงบประมาณ : &nbsp;</b>
                                                <select id="year" name = "year" class=" mb-1 btn ex2 btn-primary dropdown-toggle" onChange="filter.submit();">
                                                    {% for y in year  %}
                                                        {% if y == filter_year%} 
                                                            <option value="{{ y }}" selected>{{ y }} </option>
                                                        {% else %}
                                                            <option value="{{ y }}" >{{ y }} </option>
                                                        {%endif%}
                                                    {% endfor %}
                                                </select>
                                                <!-- <b> Last updated: {{date}} </b> -->
                                            </div>  
                                        </form>
                                        <span  style="float: right;">
                                            {% if filter_year in year_show_research_funds_button %}
                                            <div class="col-auto px-0"  style="display: flex; justify-content: center; align-items: center; ">
                                                <td class="text-center" >
                                                    <form action="more-info" target="_blank" method=POST>
                                                        {% csrf_token %}
                                                        <input  name = {{filter_year}} type="submit" value="Research Funds" class="btn-shadow btn btn-success " style="width:auto;"/>
                                                    </form>
                                                </td>
                                            </div>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class= "row mx-0 " >
                        <table id = "table_id1" class = " table mb-0 table-hover" style="width:100%; color:black; " >
                            <thead >
                                <tr bgcolor="#1E4DC2" class = "reservation_fontcolor ">
                                    <th class="text-center " style="width: 5%; ">#</th>
                                    <th class="text-center " style="width: 30%; ">Budget Groups</th>
                                    <th class="text-center " style="width: 25%; ">Budget Amount</th>
                                    <th class="text-center " style="width: 20%; ">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4" class = "mt-1 mb-1" style="width:100%; background-color:#D6EAF8; border:none;" >  
                                        <b>&#10148; เงินทุนภายนอกมหาวิทยาลัย </b>
                                    </td>
                                </tr>
                                <!-- <tr id = "row_national" onClick="toggle();" class="widget-ch2 widget-ch2-hover br-br">
                                    <td class="text-center text-muted" style="width: 5%;  " id = "vertical-align-center" ><b>3</b></td>
                                    <td class="text-left pl-3" style="width: 30%;"><b>เงินทุนภายนอก ในประเทศ</b></td>
                                    <td class="text-left" style="width: 25%; ">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col3| floatformat:2|intcomma }}     
                                    </td>
                                    
                                    <td style="width: 20%;">
                                        <div class="card border-primary img_center" style="height: 60px; width: 140px;" >
                                            <div class=" box-hover">
                                                <a href = '{% url "revenues-graph-page" value="3"%}' target="_blank"> 
                                                    <img src="{% static 'img/fig_0.png' %}" alt="fig_0" class = "img_center">
                                                </a>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="text-center" style="width: 10%; ">
                                        <form action="show_table" target="_blank" method=POST>
                                            {% csrf_token %}
                                            <input  name = {{filter_year}}/3 type="submit" value="View" class="btn-shadow btn btn-primary" style="width:70px"/>
                                        </form>
                                    </td>
                                </tr> -->
                                <tr >
                                    <td class="text-center text-muted " style="width: 5%; border:none; " id = "vertical-align-center" ><b>1</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">สกอ-มหาวิทยาลัยวิจัยแห่งชาติ</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class="pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col0| floatformat:2|intcomma }}     
                                    </td>
                                    <td class="text-center pb-3 pt-2" style="border:none; ">
                                        <div class="btn-group btn-group-toggle " >
                                            <a href = '{% url "revenues-graph-page" value="0"%}' target="_blank" > 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons pt-0" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/0 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr >
                                    <td class="text-center text-muted" style="width: 5%; border:none; " id = "vertical-align-center" ><b>2</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินงบประมาณแผ่นดิน</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col1| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="1"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/1 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr id = "row_national" onClick="toggle();" class="widget-ch2 widget-ch2-hover br-br">
                                    <td class="text-center text-muted" style="width: 5%;  border:none;" id = "vertical-align-center" ><b>3</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินทุนภายนอก ในประเทศ</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col3| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="3"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/3 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <span id = "gov_comp" name = "gov_comp">
                                    <tr id = "gov" class = "gov" style="display:none; background-color: #D4FBFF; border:none;">
                                        <td class="text-center pl-3"  style="border:none;" ></td>
                                        <td class="text-center pl-3"  style="width: 30%; border:none;">&#10625; หน่วยงานภาครัฐ</td>
                                        <td class="text-left" style="width: 25%; border:none;">
                                            <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                            {{gov| floatformat:2|intcomma }}     
                                        </td>
                                        <td class="text-center pb-3 pt-2" style="border:none;">
                                            <div class="btn-group btn-group-toggle ">
                                                <a href = '{% url "revenues-graph-page" value="11"%}' target="_blank"> 
                                                    <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                        style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                                </a>
                                                <span class="btn-circle btn-or">or</span>
                                                <form action="show_table" target="_blank" method=POST>
                                                    {% csrf_token %} 
                                                    <input name = {{filter_year}}/11 type="submit" value="Table" class="btn revenues-buttons " 
                                                            style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                                </form>
                                            </div>     
                                        </td>
                                    </tr>
                                    <tr id = "comp" class = "comp" style="display:none; background-color: #D4FBFF;">
                                        <td class="text-center pl-3"  style="border:none;" ></td>
                                        <td class="text-center pl-3"  style="width: 30%; ">&#10625; หน่วยงานภาคเอกชน</td>
                                        <td class="text-left" style="width: 25%; ">
                                            <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                            {{comp| floatformat:2|intcomma }}     
                                        </td>
                                        <!-- กราฟ1 -->
                                        <td class="text-center pb-3 pt-2" >
                                            <div class="btn-group btn-group-toggle ">
                                                <a href = '{% url "revenues-graph-page" value="12"%}' target="_blank"> 
                                                    <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                        style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                                </a>
                                                <span class="btn-circle btn-or">or</span>
                                                <form action="show_table" target="_blank" method=POST>
                                                    {% csrf_token %} 
                                                    <input name = {{filter_year}}/12 type="submit" value="Table" class="btn revenues-buttons " 
                                                            style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                                </form>
                                            </div>     
                                        </td>
                                    </tr>
                                    <tr id = "no_spec" class = "no_spec" style="display:none; background-color: #D4FBFF;">
                                        <td class="text-center pl-3"  style="border:none;" ></td>
                                        <td class="text-center pl-3"   style="width: 30%;">&#10625; ไม่ระบุ</td>
                                        <td class="text-left" style="width: 25%; " colspan="2">
                                            <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                            {{no_spec| floatformat:2|intcomma }}     
                                        </td>
                                    </tr>  
                                </span>  
                                <tr>
                                    <td class="text-center text-muted" style="width: 5%; border:none; " id = "vertical-align-center" ><b>4</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินทุนภายนอก ต่างประเทศ</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col4| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="4"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/4 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-muted" style="width: 5%;  border:none;" id = "vertical-align-center" ><b>5</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินอุดหนุนโครงการการพัฒนาความปลอดภัยและความมั่นคง</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col10| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="10"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/10 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr >
                                    <td  style="border:none; " colspan="4" class="my-0 py-0">
                                        <hr width="80%" class="my-0 py-0" >
                                    </td>
                                </tr>
                                <tr class="mt-0"  >
                                    <td class="text-right pl-3 text-decoration: underline;
                                    text-decoration-style:double;" style="border:none;" colspan="2">
                                        <div class="underline"><b>รวมเงินทุนภายนอก</b></div>
                                    </td>
                                    <td class="text-left" style="width: 25%; border:none; " >
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{sum.in| floatformat:2|intcomma}}  
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="14"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/14 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class = "mt-1 mb-1" style="width:100%; background-color:#D6EAF8;" >  
                                        <b>&#10148;  เงินทุนภายในมหาวิทยาลัย</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-muted" style="width: 5%;  border:none;" id = "vertical-align-center" ><b>6</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินกองทุนวิจัยมหาวิทยาลัย</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col2| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="2"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/2 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td class="text-center text-muted" style="width: 5%; border:none; " id = "vertical-align-center" ><b>7</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินรายได้มหาวิทยาลัย</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col5| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="5"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/5 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-muted" style="width: 5%; border:none; " id = "vertical-align-center" ><b>8</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินรายได้คณะ (เงินรายได้)</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col6| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="6"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/6 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-muted" style="width: 5%; border:none; " id = "vertical-align-center" ><b>9</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินรายได้คณะ (กองทุนวิจัย)</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col7| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="7"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/7 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-muted" style="width: 5%; border:none;" id = "vertical-align-center" ><b>10</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินกองทุนวิจัยวิทยาเขต</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col8| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="8"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/8 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-muted" style="width: 5%; border:none;" id = "vertical-align-center" ><b>11</b></td>
                                    <td class="text-left pl-3" style="width: 30%; border:none;">เงินรายได้วิทยาเขต</td>
                                    <td class="text-left" style="width: 25%; border:none;">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col9| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-3 pt-2" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="9"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/9 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                                <tr >
                                    <td  style="border:none; " colspan="4" class="my-0 py-0">
                                        <hr width="80%" class="my-0 py-0" > 
                                    </td>
                                </tr>
                                <tr class="mt-0"  >
                                    <td class="text-right pl-3 text-decoration: underline;
                                    text-decoration-style:double;" style="border:none;" colspan="2">
                                        <div class="underline"><b>รวมเงินทุนภายใน</b></div>
                                    </td>
                                    <td class="text-left" style="width: 25%; border:none; " >
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i>
                                            <!-- {{sum.out| floatformat:2|intcomma}} -->
                                        </span>
                                        <span>{{sum.out| floatformat:2|intcomma}}</span>
                                    </td>
                                    <td class="text-center pb-0 pt-2 mb-0" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="15"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/15 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>    


                                <!-- ########## -->
                                <tr>
                                    <td colspan="4" class = "mt-1 mb-1" style="width:100%; background-color:#D6EAF8;" >  
                                        <b>&#10148; อื่นๆ </b>
                                    </td>
                                </tr>
                                <tr  class="pb-0 mb-0">
                                    <td class="text-center text-muted" style="width: 5%; border:none; " id = "vertical-align-center" ><b>12</b></td>
                                    <td class="text-left pl-3" style="width: 30%;">ไม่ระบุแหล่งงบประมาณ</td>
                                    <td class="text-left" style="width: 25%; ">
                                        <span class=" pl-4 ml-3 pr-2 opacity-6"><i class="fas fa-money-bill-alt fa-1x "></i></span>
                                        {{budget.col11| floatformat:2|intcomma }}     
                                    </td>
                                    <!-- กราฟ1 -->
                                    <td class="text-center pb-0 pt-2 mb-0" style="border:none;">
                                        <div class="btn-group btn-group-toggle ">
                                            <a href = '{% url "revenues-graph-page" value="13"%}' target="_blank"> 
                                                <input  type="submit" value="Graph" class="btn revenues-buttons" 
                                                    style="padding-left: 1px;padding-bottom: 2px; border-top-right-radius : 0px; border-bottom-right-radius : 0px; border-top-left-radius : 25px; border-bottom-left-radius : 25px;" />
                                            </a>
                                            <span class="btn-circle btn-or">or</span>
                                            <form action="show_table" target="_blank" method=POST>
                                                {% csrf_token %} 
                                                <input name = {{filter_year}}/13 type="submit" value="Table" class="btn revenues-buttons " 
                                                        style="padding-left: 2px;  border-top-right-radius : 25px; border-bottom-right-radius : 25px; border-top-left-radius : 0px; border-bottom-left-radius : 0px;"> 
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class= "row ml-5">
                            <div class="col-auto">
                                <!-- <div><p style="color:royalblue;font-size:15px; display: inline-block; ">&#9679;</p><p style="display: inline-block; ">&nbsp;&nbsp;หมายถึง เงินในหัวข้อที่ระบุ</p></div>
                                <div><p style="color:#D5DBDB;font-size:15px; display: inline-block;">&#9679;</p><p style="display: inline-block; ">&nbsp;&nbsp;หมายถึง เงินที่ไม่ระบุแหล่งงบประมาณ</p></div> -->
                            </div>
                        </div>
                    </div> 
                </div>
            </div>   
            <div class=" revenues-col2 mb-2">            
                <div class="row ml-3 mr-2" >
                    <div class="card pretty_container" style="width: 100%;">
                        <div class= "row">
                            <div class="card-header bgcolor-table-head pt-3 pb-4 mx-3" style="width:100%;" >
                                <b>งบประมาณรวม | ปี : {{filter_year}} </b>
                            </div>
                        </div>
                        <div class= "row" >
                            <div class="mx-3" style="width:100%; height:100%;" > 
                                {{ graph1 | safe }}
                            </div> 
                        </div>
                        <div class= "row container mx-1 mt-3 mb-1"  >
                            <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade1 card_revenue" style="width:100%; height: 4rem; border-radius: 30px;">
                                <div class="card-body display: flex; justify-content: space-between;">
                                    <div class= "row mx-1 " >
                                        <a  class="h6 mb-0  widget-content-left font-weight-bold text-gray-800">&#149; วิทยาเขตหาดใหญ่</a>   
                                        <a  class="h6 mb-0  widget-content-right font-weight-bold text-gray-800 " align="right" >&#3647; {{campus.col0| floatformat:2|intcomma }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class= "row container mx-1 my-1"  >
                            <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade2 card_revenue" style="width:100%; height: 4rem; border-radius: 30px;">
                                <div class="card-body display: flex; justify-content: space-between;">
                                    <div class= "row mx-1 " >
                                        <a class="h6 mb-0 widget-content-left font-weight-bold text-gray-800">&#149; วิทยาเขตปัตตานี</a>   
                                        <a class="h6 mb-0 widget-content-right font-weight-bold text-gray-800" align="right" >&#3647; {{campus.col1| floatformat:2|intcomma }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class= "row container mx-1 my-1"  >
                            <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade3 card_revenue" style="width:100%; height: 4rem; border-radius: 30px;">
                                <div class="card-body display: flex; justify-content: space-between;">
                                    <div class= "row mx-1 " >
                                        <a class="h6 mb-0 widget-content-left font-weight-bold text-gray-800">&#149; วิทยาเขตภูเก็ต</a>   
                                    
                                        <a class="h6 mb-0 widget-content-right font-weight-bold text-gray-800" align="right" >&#3647; {{campus.col2| floatformat:2|intcomma }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class= "row container mx-1 my-1"  >
                            <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade4 card_revenue" style="width:100%; height: 4rem; border-radius: 30px; ">
                                <div class="card-body display: flex; justify-content: space-between;">
                                    <div class= "row mx-1 " >
                                            <a class="h6 mb-0 widget-content-left font-weight-bold text-gray-800">&#149; วิทยาเขตสุราษฎร์ฯ</a>   
                                            <a class="h6 mb-0 widget-content-right font-weight-bold text-gray-800" align="right" >&#3647; {{campus.col3| floatformat:2|intcomma }}</a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class= "row container mx-1 mt-1 mb-3"  >
                            <div class="card col-xs-12 mx-3 widget-content shadow bgcolor-blueshade5 card_revenue" style="width:100%; height: 4rem; border-radius: 30px;">
                                <div class="card-body display: flex; justify-content: space-between;">
                                    <div class= "row mx-1 " >
                                            <a class="h6 mb-0 widget-content-left font-weight-bold text-gray-800" >&#149; วิทยาเขตตรัง</a>   
                                            <a class="h6 mb-0 widget-content-right font-weight-bold text-gray-800" align="right" >&#3647; {{campus.col4| floatformat:2|intcomma }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class= "row mt-3 mx-2">
                            <div class=" card mb-2 widget-chart widget-chart2 text-left card-btm-border card-shadow-success border-success" style="width:100%;">
                                <div class="col-lg-5 pl-0" style =" width:100%;">
                                    <h6 class="widget-subheading  opacity-5">รวมเงินทุนภายนอก</h6>
                                    <div class ="widget-numbers">
                                        <div class="fsize-1">
                                            <small class="opacity-5">&#3647;</small>
                                            <span>{{sum.in| floatformat:2|intcomma}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg px-0 mx-0">
                                    <div class=" graph-hover border-primary" style ="border-style: double; ">
                                        <a href = '{% url "revenues-graph-page" value="14"%}' target="_blank">
                                            <img src="{% static 'img/fig_0.png' %}" alt="fig_0" class = "img_center">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg ml-0 pl-0" style =" text-align: right; ">
                                    <form action="show_table" target="_blank" method=POST class='mr-0'>
                                        {% csrf_token %}
                                        <input  name = {{filter_year}}/14 type="submit" value="View" class="btn-shadow btn btn-primary " />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class= "row mx-2 mb-2">
                            <div class=" card mb-2 widget-chart widget-chart2 text-left card-btm-border card-shadow-info border-info" style="width:100%;">
                                <div class="col-lg-5 pl-0" style =" width:100%;">
                                    <h6 class="widget-subheading  opacity-5">รวมเงินทุนภายใน</h6>
                                    <div class ="widget-numbers">
                                        <div class="fsize-1">
                                            <small class="opacity-5">&#3647;</small>
                                            <span>{{sum.out| floatformat:2|intcomma}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg px-0 mx-0">
                                    <div class=" graph-hover border-primary" style ="border-style: double; ">
                                        <a href = '{% url "revenues-graph-page" value="15"%}' target="_blank">
                                            <img src="{% static 'img/fig_0.png' %}" alt="fig_0" class = "img_center">
                                        </a>
                                    </div> 
                                </div>
                                <div class="col-lg ml-0 pl-0" style =" text-align: right; ">
                                    <form action="show_table" target="_blank" method=POST class='mr-0'>
                                        {% csrf_token %}
                                        <input  name = {{filter_year}}/15 type="submit" value="View" class="btn-shadow btn btn-primary " />
                                    </form>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    

{% endblock content %}

{% block js %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
<script type="text/javascript" charset="utf8" src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script>
    
    $(document).ready(function(){

        $('#row_national').on('click',function(){	
            $('.gov').toggle();
            $('.comp').toggle();
            $('.no_spec').toggle();
        });

        
    });

    
   
    
    // $('#table_id5').DataTable({
    //     dom: 'B<"clear">lfrtip',
    //     buttons: {
    //         name:'primary',
    //         // buttons: ['copy','csv','excel','pdf']
    //         buttons: ['copy','csv','excel']
    //     },
    //     "order": [[ 3, "desc" ]],
    //     "pageLength": 25
            
    //     });
      
    


</script>
{% endblock js %}
