{% extends 'importDB/base_3.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
{% load humanize %}


<style type="text/css">


@media screen and (min-width: 1px) and (max-width: 1330px)  {
    .sci-park-col1{
        width:100% !important;
        }
        .sci-park-col2{
        width:100% !important;
        }
        
    }

    @media screen and (min-width: 1331px) and (max-width: 9999px)   {
    .sci-park-col1{
        width:45% !important;
        }
      .sci-park-col2{
        width:55% !important;
        }
    }

    @media screen and (min-width: 1px) and (max-width: 1403px)  {
    .sci-park-col1{
        width:100% !important;
        }
        .sci-park-col2{
        width:100% !important;
        }
        
    }

    @media screen and (min-width: 1404px) and (max-width: 9999px)   {
    /* .sci-park-col1{
        width:70% !important;
        }
      .sci-park-col2{
        width:30% !important;
        }
    } */
    .sci-park-col1{
        width:60% !important;
        }
      .sci-park-col2{
        width:40% !important;
        }
    }

    /* row3 */
    @media screen and (min-width: 1px) and (max-width: 992px)  {
    .scipark-col-row2{
        width:100% !important;
        }
    }

    @media screen and (min-width: 993px) and (max-width: 1199px)   {
    .scipark-col-row2{
        width:50% !important;
        }
    }

    @media screen and (min-width: 1200px)   {
    .scipark-col-row2{
        width:33% !important;
        }
    }

  .card_sci{
        transition: 0.4s;
        }
  .card_sci:hover {
        transform: scale(1.05, 1.05);
        }

  .circle-icon {
    background: #ffc0c0;
    /* width: 100px;
    height: 100px; */
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.circle-icon2 {
    background: #ffc0c0;
    vertical-align: middle;
    padding:30px;
    border-radius: 50%;
}

.icon-bg {
    color: #424242;
}



.science-park-buttons {
        color: #ffffff !important;
        font-weight: 600;
        /* font-weight: bold; #111e6c*/ 
        background: rgb(6, 86, 167);
        padding: 4px;
        /* border: 1px solid #111e6c !important; */
        display: inline-block;
        transition: all 0.4s ease 0s;
        width: 8rem;
        height: 2rem;
        }
    
  .science-park-buttons:hover {
      color: #202020 !important;
      background: #fcfafa !important;
      border-color: #000000 !important;
      transition: all 0.4s ease 0s;
      }

    .todo-indicator {
        position: absolute;
        width: 4px;
        height: 60%;
        border-radius: .3rem;
        left: .625rem;
        top: 20%;
        opacity: .6;
        transition: opacity .2s;
    }
    .bg-warning1 {
    background-color: #f7b924 !important;
    }

    .flex-container {
  /* width: 30%; */
  height: 50px;
  background-color: rgba(42, 236, 227, 0.3);
  /* text-align: center; */
  border-radius: 25%;
  

  }

  

</style>
    
<div class="container-fluid">
  <!-- row 1 -->
  <div class="row mx-2" >
    <div class="col-xs-12 col-md-12 col-lg-12 "  >
      <div class="pr-3 mb-1" style=" float: right;">
        <b>ข้อมูลจากอุทยานวิทยาศาสตร์ &nbsp;</b> 
        <span class = "px-2" style="font-size:15px; background-color: coral;  border-radius: 30px; "><b>  Last updated: </b> {{date}}</span>
      </div> 
    </div>
  </div>
  <div class="row my-2 mx-2" >
    <div class=" sci-park-col1 d-flex mb-2 " >
      <div class="card pretty_container " style="position: relative; width: 100%;">
        <!-- เลือกปี -->
        <div class="row" >
          <div class = "col " style="width: 100%;">
            <div class="card-header pt-2 " style="width:100%; background-color: rgb(0,133,173);" >
              <div class= "row pt-1 ">
                <div class="col-xs-12 col-md-12 col-lg-12 "  >
                  <form class="mt-1 " name='filter' method=POST  >
                    {% csrf_token %}
                    <div class="font-size-lg">
                      <b style="display:inline-block; color: rgb(255, 255, 255);"> &nbsp;&nbsp;จำนวนคู่ความร่วมมือ | ปี :&nbsp; </b>
                      <select id="year" name = "year" class=" btn ex2 btn-info dropdown-toggle" onChange="filter.submit();" style="background-color: #ffffff; color:rgb(46, 45, 45)">
                          {% for y in year  %}
                              {% if y == filter_year%} 
                                  <option value="{{ y }}" selected>{{ y }} </option>
                              {% else %}
                                  <option value="{{ y }}" >{{ y }} </option>
                              {%endif%}
                          {% endfor %}
                      </select>
                      <img src="{% static 'img/question-mark-logo.png' %}" style="float:right;"
                      title="หน่วยงานและความร่วมมือ คือ เครือข่ายความร่วมมือของนักวิจัย ผู้ประกอบการ และมหาวิทยาลัย 
                      เพื่อผลักดันให้เกิดการคิดค้น สร้างสรรค์ และพัฒนา Social Innovation ด้วยการวิจัยและนวัตกรรม
                      โดยมุ่งเน้นบริษัท/ชุมชนที่มีศักยภาพ และมีความได้เปรียบเชิงพื้นที่ วิธีชีวิต และวัฒนธรรม"    
                      style="display: block; margin-left: auto; margin-right: auto; " 
                      width="15" height="15"/> 
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ตาราง -->
        <div class= "row mx-0 " >
          <table id = "table_id1" class = " table mb-0 " style="width:100%; height: 550px;color:black; " >
              <thead >
                  <tr class = "reservation_fontcolor " style="background-color: #333333;">
                      <th class="text-center " style="width: 5%; ">#</th>
                      <th class="text-center " style="width: 30%; ">Groups</th>
                      <th class="text-center " style="width: 30%; ">Numbers</th>
                      <th class="text-center " style="width: 20%; ">Actions</th>
                  </tr>
              </thead>
              <tbody>
                <!-- จำนวนความร่วมมือกับบริษัท -->
                <tr >
                  <td class=" text-center" rowspan="3">
                    <div class="fa-stack fa-lg fa-2x" >
                      <i class="fa fa-circle fa-stack-2x icon-bg"></i>
                      <i class="fas fa-hand-holding-usd fa-stack-1x" style="color: cornsilk;" ></i>
                    </div>
                  </td>
                  <td colspan="2" >
                    <div class="text-gray-800 text-left" style="margin-top: 15px;" >
                      <b>จำนวนความร่วมมือกับบริษัท </b>
                    </div>  
                  </td>
                  <td rowspan="6" class="text-center " style="padding-top: 220px; border-left:1px solid rgb(201, 201, 201)">
                    <a href = '{% url "science-park-graph" value="4"%}' target="_blank"> 
                      <input  type="submit" value="View Graph" class="btn science-park-buttons " 
                      style=" border-radius : 25px; background-color: #333333; " />
                    </a>
                  </td>
                </tr>

                <!-- จำนวนความร่วมมือกับบริษัท ทั้งหมด -->
                <tr class="pt-5">
                  <td style="border:none;">
                    <div class="text-gray-800 text-right " >
                      &#10148; บริษัท ทั้งหมด 
                    </div>  
                  </td>
                  <td style="border:none">
                    <div class=" text-gray-800 text-center">
                      <div class="h4" >
                        <span>{{sciparkinfo.5|intcomma }} </span>
                      </div>
                      {% if show_growth %}
                      <div style=" font-size: 90%; "> 
                        Growth Rate : 
                        <span style="color:{{color.3}}">
                          {% if growth_rate.3 > 0 %}
                              <b>+{{growth_rate.3|floatformat:2}}%</b>
                          {% else %}
                              <b>{{growth_rate.3|floatformat:2}}%</b>
                          {% endif %}
                        </span>
                      </div>
                      {% endif %}
                    </div>  
                  </td>
                </tr>

                <!-- จำนวนความร่วมมือกับบริษัท ในภูมิภาค -->
                <tr class="pt-5">
                  <td style="border:none;">
                    <div class="text-gray-800 text-right"  >
                      &#10148; บริษัท ในภูมิภาค 
                    </div>  
                  </td>
                  <td style="border:none;">
                    <div class=" text-gray-800 text-center">
                      <div class="h4">
                        <span>{{sciparkinfo.6|intcomma }}</span>
                      </div>
                      {% if show_growth %}
                      <div  style=" font-size: 90%; "> 
                        Growth Rate : 
                        <span style="color:{{color.4}}">
                          {% if growth_rate.4 > 0 %}
                              <b>+{{growth_rate.4|floatformat:2}}%</b>
                          {% else %}
                              <b>{{growth_rate.4|floatformat:2}}%</b>
                          {% endif %}
                        </span>
                      </div>
                      {% endif %}
                    </div>  
                  </td>
                </tr>

                <!-- จำนวนความร่วมมือกับชุมชน -->
                <tr >
                  <td class=" text-center"  style=" margin-bottom: 0px;">
                    <div class="fa-stack fa-lg fa-2x" >
                      <i class="fa fa-circle fa-stack-2x icon-bg"></i>
                      <i class="fas fa-hand-holding-heart fa-stack-1x" style="color: cornsilk;" ></i>
                    </div>
                   
                  </td>
                  <td colspan="2" >
                    <div class="text-gray-800 text-left" style="margin-top: 25px;  " >
                      <b>จำนวนความร่วมมือกับชุมชน </b>
                    </div>  
                  </td>
                </tr>

                <!-- จำนวนความร่วมมือกับชุมชน ทั้งหมด -->
                <tr class="pt-5" >
                  <td colspan="2" style="border:none;">
                    <div class="text-gray-800 text-right " >
                     &#10148; ชุมชน ทั้งหมด 
                    </div>  
                  </td>
                  <td style="border:none">
                    <div class=" text-gray-800 text-center">
                      <div class="h4" >
                        <span>{{sciparkinfo.7|intcomma }} </span>
                      </div>
                      {% if show_growth %}
                      <div style=" font-size: 90%; "> 
                        Growth Rate : 
                        <span style="color:{{color.5}}">
                          {% if growth_rate.5 > 0 %}
                              <b>+{{growth_rate.5|floatformat:2}}%</b>
                          {% else %}
                              <b>{{growth_rate.5|floatformat:2}}%</b>
                          {% endif %}
                        </span>
                      </div>
                      {% endif %}
                    </div>  
                  </td>
                </tr>

                <!-- จำนวนความร่วมมือกับชุมชน ในภูมิภาค -->
                <tr class="pt-5">
                  <td colspan="2" style="border:none;">
                    <div class="text-gray-800 text-right"  >
                      &#10148; ชุมชน ในภูมิภาค 
                    </div>  
                  </td>
                  <td style="border:none;">
                    <div class=" text-gray-800 text-center">
                      <div class="h4">
                        <span>{{sciparkinfo.8|intcomma }}</span>
                      </div>
                      {% if show_growth %}
                      <div style=" font-size: 90%; "> 
                        Growth Rate : 
                        <span style="color:{{color.6}}">
                          {% if growth_rate.6 > 0 %}
                              <b>+{{growth_rate.6|floatformat:2}}%</b>
                          {% else %}
                              <b>{{growth_rate.6|floatformat:2}}%</b>
                          {% endif %}
                        </span>
                      </div>
                      {% endif %}

                    </div>  
                  </td>
                </tr>
                
              </tbody>
          </table>
        </div>
      </div>
    </div>  

    <!-- Pie graph -->
    <div class=" sci-park-col2 d-flex mb-2" >  
      <div class="row mx-2" style="width: 100%;">
        <div class="card pretty_container " style="width: 100%;">
          <div class="card-header pt-3 pb-4 " style=" color:rgb(255, 255, 255); width:100%; background-color: rgb(0,133,173);" >
              <b>สัดส่วนความร่วมมือ | ปี : {{filter_year}} </b>
          </div>
          <div class="card-body"  style="width:100%; " > 
              {{ graph1 | safe }}
          </div> 
        </div>
      </div>
    </div>
  </div>

  <!-- row 2 -->
  <div class="row mx-1" >

    <!-- จำนวนบริษัทหรือหน่วยงานที่มา License ผลงานทรัพย์สินทางปัญญา -->   
    <div class=" scipark-col-row2 d-flex mb-3" >
      <div class="card mb-3" >
        <div class="card-header " style="background-color: rgba(170, 229, 247, 0.514);">
          <span class="fa-stack fa-1x" >
            <i class="fa fa-circle fa-stack-2x icon-bg"></i>
            <i class="fas fa-hotel fa-stack-1x" style="color: white;" ></i>
          </span>
          <b style="color:black;">จำนวนบริษัท/หน่วยงานที่มา License ทรัพย์สินทางปัญญา</b>
        </div>
        <div class="card-body text-gray-800">
          <div class="row my-3" style="padding: 0px; text-align: center;" >
            <div class="col-sm-12 col-md-6 mb-2" >
              <span class=" card-title">ทั้งหมด</span>
              <div class= "h3 mb-0">{{sciparkinfo.9|intcomma }} </div>
              {% if show_growth %}
              <div class="mb-1" style=" font-size: 90%;"> 
                Growth Rate :
                  <span style="color:{{color.7}}">
                    {% if growth_rate.7 > 0 %}
                      <b>+{{growth_rate.7|floatformat:2}}%</b>
                    {% else %}
                      <b>{{growth_rate.7|floatformat:2}}%</b>
                   {% endif %}
                  </span>
              </div>
              {% endif %}
            </div>
            <div class="col-sm-12 col-md-6 mb-2" >
              <span class=" card-title">Active ใน 3 ปี</span>
              <div class= "h3 mb-0">{{sciparkinfo.10|intcomma }} </div>
              {% if show_growth %}
              <div class="mb-1" style=" font-size: 90%;"> 
                Growth Rate :
                  <span style="color:{{color.8}}">
                    {% if growth_rate.8 > 0 %}
                      <b>+{{growth_rate.8|floatformat:2}}%</b>
                    {% else %}
                      <b>{{growth_rate.8|floatformat:2}}%</b>
                   {% endif %}
                  </span>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent text-center ">
          <a href = '{% url "science-park-graph" value="9"%}' target="_blank"> 
            <input  type="submit" value="View Graph" class="btn science-park-buttons " 
            style=" border-radius : 25px; background-color: #333333;" />
          </a>
        </div>
      </div>
    </div>
    
    <!-- จำนวนบริษัท Start Up ที่ดำเนินการผ่านอุทยานวิทยาศาสตร์ -->   
    <div class=" scipark-col-row2 d-flex mb-3" >
      <div class="card  mb-3 text-gray-800" >
        <div class="card-header " style="background-color: rgba(170, 229, 247, 0.514);">
          <span class="fa-stack fa-1x" >
            <i class="fa fa-circle fa-stack-2x icon-bg"></i>
            <i class="fas fa-building fa-stack-1x" style="color: white;" ></i>
          </span>
          <b style="color:black;">จำนวนบริษัท Start Up ที่ดำเนินการผ่านอุทยานวิทยาศาสตร์</b>
        </div>
        <div class="card-body ">
          <div class="row my-3" style="padding: 0px; text-align: center;" >
            <div class="col-sm-12 col-md-12 mb-2" >
              <span class="card-title">ทั้งหมด</span>
              <div class= "h3 mb-0">{{sciparkinfo.11|intcomma }}  </div>
              {% if show_growth %}
              <div class="mb-1" style=" font-size: 90%;"> 
                Growth Rate :
                <span style="color:{{color.9}}">
                  {% if growth_rate.9 > 0 %}
                      <b>+{{growth_rate.9|floatformat:2}}%</b>
                    {% else %}
                      <b>{{growth_rate.9|floatformat:2}}%</b>
                   {% endif %}
                </span>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent text-center ">
          <a href = '{% url "science-park-graph" value="11"%}' target="_blank"> 
            <input  type="submit" value="View Graph" class="btn science-park-buttons " 
            style=" border-radius : 25px; background-color: #333333;" />
          </a>
        </div>
      </div>
    </div>

    <!-- จำนวนบัณฑิตที่ก่อตั้งบริษัท โดยดำเนินการผ่านอุทยานวิทยาศาสตร์  -->   
    <div class=" scipark-col-row2 d-flex mb-3 " >
      <div class="card  mb-3 text-gray-800" >
        <div class="card-header " style="background-color: rgba(170, 229, 247, 0.514)">
          <span class="fa-stack fa-1x" >
            <i class="fa fa-circle fa-stack-2x icon-bg"></i>
            <i class="fas fa-graduation-cap fa-stack-1x" style="color: white;" ></i>
          </span>
          <b style="color:black;">จำนวนบัณฑิตที่ก่อตั้งบริษัท โดยดำเนินการผ่านอุทยานวิทยาศาสตร์</b>
        </div>
        <div class="card-body ">
          <div class="row my-3" style="padding: 0px; text-align: center;" >
            <div class="col-sm-12 col-md-12 mb-2" >
              <span class="card-title">ทั้งหมด</span>
              <div class= "h3 mb-0">{{sciparkinfo.12|intcomma }} </div>
              {% if show_growth %}
              <div class="mb-1" style=" font-size: 90%;"> 
                Growth Rate :
                <span style="color:{{color.10}}">
                  {% if growth_rate.10 > 0 %}
                      <b>+{{growth_rate.10|floatformat:2}}%</b>
                    {% else %}
                      <b>{{growth_rate.10|floatformat:2}}%</b>
                   {% endif %}
                </span>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent text-center ">
          <a href = '{% url "science-park-graph" value="12"%}' target="_blank"> 
            <input  type="submit" value="View Graph" class="btn science-park-buttons " 
            style=" border-radius : 25px; background-color: #333333;" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

      
      

   
    

    
  
    
{% endblock content %}
