{% extends 'importDB/base.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}
{% load humanize %}

    <!-- Content Row -->


    <!-- <div class="container-fluid m-3">
      <button type="button" id = "tci" onclick="updateArticleDisplayResult('Prince Of Songkla University')" class = "btn btn-primary mb-3">tci</button>
    </div> -->

    <div class="container-fluid">
      <div class="row"  >
        <div class=" ranking-col1 ml-3 mb-3 mr-2 card pretty_container" > 
          <h5 class = "subtitle mx-3 mt-3 "> &nbsp; รายได้งานวิจัย 10 ปี ย้อนหลัง</h5>           
          <div class=" mx-4" > 
              {{ plot3 | safe }}
          </div>
        </div>
        <div class=" ranking-col2 ml-2 mb-3 card pretty_container" >            
          <h5 class = "subtitle mx-3 mt-3 mb-0">&nbsp; จำนวนผู้วิจัย 10 ปี ย้อนหลัง </h5>
          <div class=" mx-2 " >  
            {{ plot2 | safe }}
          </div>
        </div>
      </div>
      <div class="row" >
        <div class=" col mx-3 mb-3 card " > 
          <h5 class = "subtitle mx-1 mt-3 mb-0"> &nbsp; จำนวนการตีพิมพ์ในฐาน Scopus, ISI-WoS และ TCI</h5>     
          <div class=" mx-2 " >       
              {{ plot1 | safe }}
          </div>
        </div>
      </div>
    
    </div>

  
    
{% endblock content %}
